<div class="comments">
    <p>{{ task.comments.count }} comment{{ task.comments.count|pluralize }}</p>
    <form action="" method="post" class="search-form">
      {% if user.is_authenticated %}
        <div class="comment-input">
        {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary btn-xs" type="submit">Comment</button>
        </div>
      {% endif %}
    </form>
    {% if comments %}
      <div>
        {% for comment in comments %}
          <div class="user-comment">
            <div class="row">
              <div class="col-sm-2">
                <h5>{% if comment.sender == request.user %}Me{% else %}{{ comment.sender.username }}{% endif %}</h5>
              </div>
              <div>{{ comment.date }}</div>
            </div>
            <div class="comment-message">
              <p>{{ comment.message }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <strong class="text-secondary">No comments yet...</strong>
    {% endif %}
  </div>
