{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <h2>Chat</h2>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="datta-example-modal-content">
                {% for message in messages %}
                  <p>{{ message.sender.username }}: {{ message.message }}</p>
                {% empty %}
                  <h5>No messages available</h5>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

    <!-- Message submission form -->
    <form action="" method="post" novalidate class="chat__form">
      {% csrf_token %}
      <div class="form-group chat__input">
        {{ message_form.message }}
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% endblock %}