{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
  {% if request.user.is_authenticated %}
  <!-- [ Main Content ] start -->
    <div class="page-header-title">
      <h2 class="m-b-20">{% if user == project.creator %}Your{% endif %} Project
        {% if user == project.creator %}
          <a href="{% url 'tasks:project-invitation' pk=project.id %}" class="btn btn-primary float-right">Invite</a>
        {% endif %}
      </h2>
    </div>
      <div class="row">
        <!-- [ basic-table ] start -->
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h5>
                {{ project.title }}
              </h5>
            </div>
            <div class="card-block table-border-style">
              <span>{{ project.description }}</span>
            </div>
            <div class="card-block table-border-style">
              <span>
                Assignees: {{ project.assignees.count }}
              </span>
            </div>
          </div>
        </div>
      </div>
    {% if user == project.creator %}
      <span>
        <a href="{% url 'tasks:project-update' pk=project.id %}" class="btn btn-warning link-to-page">
          Update
        </a>
        <a href="{% url 'tasks:project-delete' pk=project.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>
      </span>
    {% endif %}
    <!-- [ basic-table ] end -->
  {% endif %}
{% endblock %}
<!-- [ Main Content ] end -->