{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ object|yesno:"Update,Create" }} Task</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                  <label>Title</label>
                  {{ form.name }}
                  <label for="exampleFormControlTextarea1">Description</label>
                  {{ form.description }}
                  <label for="exampleFormControlTextarea1">Deadline</label>
                  {{ form.deadline }}
                  <label for="exampleFormControlTextarea1">Priority</label>
                  {{ form.priority }}
                  <label for="exampleFormControlTextarea1">Status</label>
                  {{ form.status }}
                  <label for="exampleFormControlTextarea1">Task type</label>
                  {{ form.task_type }}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}