{% extends "layouts/base.html" %}

{% block content %}
      <ul class="tasks__list">
      
        <li>
          <ul class="tasks__list-type">
            <li>To do</li>
            {% if task_list %}
              {% for task in task_list %}
                {% if task.status == "TD" %}
                  <li><a href="#">{{ task.name }} ({{ task.deadline }})</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li>
          <ul class="tasks__list-type">
            <li>Doing</li>
            {% if task_list %}
              {% for task in task_list %}
                {% if task.status == "DG" %}
                  <li><a href="#">{{ task.name }} ({{ task.deadline }})</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li>
          <ul class="tasks__list-type">
            <li>Done</li>
            {% if task_list %}
              {% for task in task_list %}
                {% if task.status == "DE" %}
                  <li><a href="#">{{ task.name }} ({{ task.deadline }})</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </li>
      </ul>
{% endblock %}